<div class="cardImg col-xxl-6 col-12" >
    <div class="cardImgBorder ">
        <div class="row h-100 w-100 no-margin">
            <div class="cardImg__left h-100 m-0 p-0 col-5" data-bs-target="#myModal" data-bs-toggle="modal"> 
                 <%= image_tag(album.list_image[0].url,class:'cardIMg__left-img h-100 w-100') %>
            </div>
            <div class="cardImg__right ps-4 position-relative col-7">
                <div class="cardImg__right-account my-2">
                    <% if user.avatar.present? %> 
                        <%= image_tag(user.avatar.url, class: 'cardImg__right-account__avatar rounded-circle')  %>
                    <%else%>
                       <img  src="https://i.pinimg.com/originals/aa/be/6d/aabe6d6db5e5f569e69e56e851eba8f0.gif" alt="" class="cardImg__right-account__avatar rounded-circle "/>
                    <%end%>
                    <span class="cardImg__right-account__name ms-2 fw-bold"><%= user.fullname %></span>
                </div>

                <% if params[:action]== 'discover' && is_follow %>
                    <button class="cardFollow__btn-following">following</button>
                <%elsif params[:action]== 'discover' && !is_follow %>
                    <%= button_to 'follow', follows_path(user,'falseAlbum'),method: :post , class: 'cardFollow__btn-follow  text-center' %>
                <%end%>




                <div class="cardImg__right-heading text-dark fw-bold ">
                    <%= album.title %>
                </div>
                <div class="cardImg__right-text mt-2">
                    <%= album.description %>
                </div>
                <div class="cardImg__right-footer position-absolute bottom-0 d-flex align-items-center justify-content-between">
                   <% if !is_like %>
                        <%= turbo_frame_tag "like_count_album_#{album.id}" do %>
                            <%= button_to like_album_path(album,'true'),class: 'cardImg__right-footer__btn border-0 bg-transparent ' do %>
                                <i class="heart-icon dislike fa-solid fa-heart "></i>
                                <span><%= album.list_like.size %></span>
                            <%end%>
                        <%end%>
                    <%else%>
                        <%= turbo_frame_tag "dislike_count_album_#{album.id}" do %>
                            <%= button_to like_album_path(album,'false'), class: 'cardImg__right-footer__btn border-0 bg-transparent' do %>
                                <i class="heart-icon like fa-solid fa-heart"></i>
                                <span><%= album.list_like.size %></span>
                            <%end%>
                        <%end%>
                    <%end%>
                    <span class="cardImg__right-footer__time"><%= album.created_at %></span>

                </div>
            </div>
        </div>
    </div>
</div>